{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/rl_fieldtunerxl/header.png",
      "fileBody" : "/interface/scripted/rl_fieldtunerxl/body.png",
      "fileFooter" : "/interface/scripted/rl_fieldtunerxl/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Field Tuner XL",
      "subtitle" : " Tune nearby environmental fields",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/rl_fieldtunerxl/rl_fieldtunerxlicon.png"
      },
      "zlevel" : -1
    },
    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/rl_fieldtunerxl/shine.png",
      "zlevel" : 1,
      "position" : [0, 8],
      "mouseTransparent" : true
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [215, 113]
    },

    "inactiveOverlay" : {
      "type" : "layout",
      "visible" : true,
      "layoutType" : "basic",
      "zlevel" : 1,
      "rect" : [1, 23, 230, 109],
      "children" : {
        "dungeonIdLabel" : {
          "type" : "label",
          "position" : [14, 62],
          "hAnchor" : "left",
          "value" : "Frequency"
        },
        "dungeonIdBg" : {
          "type" : "image",
          "file" : "/interface/scripted/rl_fieldcontrolconsole/dungeonidbg.png",
          "position" : [68, 59],
          "zlevel" : 1
        },
        "dungeonId" : {
          "type" : "textbox",
          "position" : [72, 62],
          "maxWidth" : 40,
          "regex" : "[0-9]{0,5}",
          "fontSize" : 10,
          "zlevel" : 2,
          "callback" : "setDungeonId",
          "nextFocus" : "dungeonId"
        },
        "activateButton" : {
          "type" : "button",
          "disabled" : true,
          "base" : "/interface/scripted/rl_fieldcontrolconsole/activatebutton.png",
          "hover" : "/interface/scripted/rl_fieldcontrolconsole/activatebuttonhover.png",
          "pressed" : "/interface/scripted/rl_fieldcontrolconsole/activatebutton.png",
          "caption" : "Activate",
          "position" : [159, 58],
          "zlevel" : 2,
          "callback" : "activateButtonPressed"
        },
        "headline" : {
          "type" : "image",
          "file" : "/interface/scripted/rl_fieldtunerxl/headline.png",
          "position" : [14, 51],
          "zlevel" : 1
        },
        "helpLabel" : {
          "type" : "label",
          "position" : [14, 32],
          "hAnchor" : "left",
          "value" : "Choose a frequency."
        },
        "errorLabel" : {
          "type" : "label",
          "visible" : false,
          "position" : [14, 12],
          "hAnchor" : "left",
          "value" : "^red;Frequency is reserved. Choose another.^reset;"
        }
      }
    }
  },

  "helpTemplate" : "Choose a frequency from %d to %d.",
  "errorTemplate" : "^red;Frequency %d is reserved. Choose another.^reset;",

  "scripts" : ["/interface/scripted/rl_fieldtunerxl/rl_fieldtunerxlgui.lua"],
  "scriptDelta" : 5,
  "scriptWidgetCallbacks" : [
    "setDungeonId",
    "activateButtonPressed"
  ],

  "sounds" : {
    "error" : "/sfx/interface/clickon_error.ogg"
  }
}
